body {
  background-color: #CCC;
  font-family: 'Indie Flower', cursive;
}

button {
  color: #FFF;
  font-size: 20px;
  background: #3498DB;
  padding: 10px 20px 10px 20px;
}

.container {
  padding: 50px;
  text-align: center;
}

.container div {
  padding: 20px;
}

.hangman-drawing {
  min-width: 500px;
  display: inline-block;
}

.used-letters {
  display: inline-block;
  vertical-align: top;
  max-width: 425px;
}

.used-letters p {
  font-size: 5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.used-letters span {
  font-size: 2.5rem;
}

.hangman-guessed {
  font-size: 3rem;
  text-transform: uppercase;
}
